/* headerx{
    background-imagex: url("imagenes/main1.png");
    background-sizex: cover;
    background-repeatx: repeat-y;
} */
.imagen{
    max-width: auto;
    height: auto;
    }
header{
    font-family:tahoma;
    font-size: 35px;
    font: #f68b1c;
    font-style:bold;
    /* text-alignx:left;
    positionx: relative; top: 1x; left: 1px; */
}
footer{
    font-family:tahoma;
    font-size: 18px;
    font: #f68b1c;
    font-style:oblique;
    text-align:center;
    position: relative; top: 550px;
}
/* footer1{
    background-imagex: url("imagenes/main2.png");
    background-sizex: cover;
    background-repeatx: repeat-y;
} */
.btn-flotante {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color:  #f68b1c;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 230px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante:hover {
    background-color: #2d3a62;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}
.btn-flotante1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f68b1c;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante1:hover {
    background-color: #2d3a62;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante1 {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}
.btn-flotante2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color:  #f68b1c;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 400px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante2:hover {
    background-color: #2d3a62;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante2 {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}
@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        table, p, img {
        padding-right: 1em;
        width: 100%;
        }
     }
    @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    }
    @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    }
    @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }
    @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }
    @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }
    